@page "/"
@inject ContactsDataService ContactsDataService

<PageTitle>Accueil</PageTitle>

<MudText Typo="Typo.h2">Accueil</MudText>
<MudText Typo="Typo.body1">Bienvenue sur MudContacts !</MudText>

<MudText Typo="Typo.h2">C'est bientôt l'anniversaire de...</MudText>

<MudCarousel ItemsSource="ContactsDataService.GetNextBirthdateContacts()" Style="height:200px;" ShowArrows ShowBullets EnableSwipeGesture AutoCycle>
    <ItemTemplate>
        <ContactCard Contact="@context" />
    </ItemTemplate>
</MudCarousel>

@foreach (var item in ContactsDataService.GetNextBirthdateContacts())
{
    <div @key=item>
    </div>
}

