@page "/"
@inject ISnackbar Snackbar;

<div class="d-flex flex-column flex-grow-1 full-height">

    @if (Cheat)
    {
        <CombinationPicker SelectedCombination="RandomCombination" IsReadOnly />
    }

    <div class="flex-grow-1" style="overflow:auto">
        @for (int i = Combinations.Count - 1; i >= 0; i--)
        {
            <CombinationPicker SelectedCombination="Combinations[i]" IsReadOnly />
            <CombinationComparer SelectedCombination="Combinations[i]" SolutionCombination="RandomCombination" />
        }
    </div>

    <MudPaper Elevation="3">
        <div class="my-2">
            <CombinationPicker CombinationValidated="@CombinationValidated" />
        </div>
    </MudPaper>


</div>